

<header id="fh5co-header" class="fh5co-cover" data-section="home" role="banner" style="background-image:url(<%= @imgBackground %>);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn" style="text-align: center;">




            <h2 class="title is-2 sync_label"><%= @company.name%>'s rewards </h2>
            <br>


            <div class="row">
              <div class="col-md-12">
                <h5> Active Rewards</h5>
                <% @rewards.each_with_index do |reward, index| %>
                  <% if reward.valid_through > Time.now %>
                <ul class="collapsible" data-collapsible="accordion">
                  
                    <div class="collapsible-header"><%= reward.name %></div>
                    <div class="collapsible-body">
                      <table class="highlight centered">
                          <thead>
                            <tr>
                              <th data-field="name">Description</th>
                              <th data-field="name">Kms cost</th>
                              <th data-field="name">Valid from</th>
                              <th data-field="name">Valid through</th>
                              <th data-field="name">Available units</th>
                              <th data-field="name">Reserved units</th>
                              <th data-field="name">Charged units</th>
                              <th data-field="price">Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td><%= "#{reward.description}" %></td>
                              <td><%= "#{reward.kms_cost}" %></td>
                              <td><%= "#{reward.valid_from.to_date}" %></td>
                              <td><%= "#{reward.valid_through.to_date}" %></td>
                              <td><%= "#{reward.available_units}" %></td>
                              <td><%= "#{reward.reserved_units}" %></td>
                              <td><%= "#{reward.charged_units}" %></td>
                              <td><a href="<%= company_branch_reward_path(current_company.id,@branch.id,reward.id) %>">Show</a> / <a data-method="DELETE" href="<%= company_branch_reward_path(current_company.id,@branch.id,reward.id) %>">Delete</a></td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                  
                </ul>
                <% end %>
              <% end %>
              </div>

              <div class="col-md-12">
                <h5> Expired Rewards</h5>
                <% @rewards.each_with_index do |reward, index| %>
                  <% if reward.valid_through < Time.now %>
                <ul class="collapsible" data-collapsible="accordion">
                  
                    <div class="collapsible-header"><%= reward.name %></div>
                    <div class="collapsible-body">
                      <table class="highlight centered">
                          <thead>
                            <tr>
                              <th data-field="name">Description</th>
                              <th data-field="name">Kms cost</th>
                              <th data-field="name">Valid from</th>
                              <th data-field="name">Valid through</th>
                              <th data-field="name">Available units</th>
                              <th data-field="name">Reserved units</th>
                              <th data-field="name">Charged units</th>
                              <th data-field="price">Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td><%= "#{reward.description}" %></td>
                              <td><%= "#{reward.kms_cost}" %></td>
                              <td><%= "#{reward.valid_from.to_date}" %></td>
                              <td><%= "#{reward.valid_through.to_date}" %></td>
                              <td><%= "#{reward.available_units}" %></td>
                              <td><%= "#{reward.reserved_units}" %></td>
                              <td><%= "#{reward.charged_units}" %></td>
                              <td><a href="<%= company_branch_reward_path(current_company.id,@branch.id,reward.id) %>">Show</a> / <a data-method="DELETE" href="<%= company_branch_reward_path(current_company.id,@branch.id,reward.id) %>">Delete</a></td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                  
                </ul>
                <% end %>
              <% end %>
              </div>

            </div>

            <br>
            <a href="<%= new_company_branch_reward_path(params[:company_id],params[:branch_id]) %>" class="row btn" >Add Reward</a>
            <br>
            <a href="<%= company_branch_path(params[:company_id],params[:branch_id]) %>">Back to Branch</a>




                 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>